.person-details {
    background: #efefef;
    padding: 25px;
    display: flex;
    margin: 20px 0px 20px 0;
    flex: 1;
}

.person-details .img {
    margin-right: 20px;
}

.person-details .img img {
    max-width: 200px;
}
