.header-block {
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #fff;
    font-size: 18px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav li {
    padding: 10px;
    cursor: pointer;
    transition: .4s;
}


.nav li:hover {
    background: #333131;
}

.logo {
    margin-right: 30px;
}

.logo img {
    width: 150px;
}

.logo-title {
    font-family: jedi-outline, Tahoma, sans-serif;
    font-size: 48px;
    color: #f5cb00;
    line-height: 42px;
}
