.item-list {
    flex: 1;
}

.item-list ul li {
    font-size: 15px;
    transition: .4s;
    background: #f7f7f7;
    padding: 10px 20px;
}

.item-list ul li:hover {
    background: #903f3f;
    cursor: pointer;
    color: #fff;
}
